<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @collection.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @collection.user %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
