<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @case.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @case.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @case.user %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
