<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <div class="thumbnail">
    <%= link_to image_tag(photo.image.thumb), photo %>
    <div class="caption">
      <div class="section">
        <p>
          <%= photo.note %>
        </p>
      </div>
      <div class="section">
        <ul class="list-unstyled">
          <% photo.tags.each do |tag| %>
            <%= link_to tag, tag_path(tag), :class => "label label-default" %>
          <% end %>
        </ul>
      </div>
      <div class="btn-group btn-group-justified">
        <%= link_to edit_photo_path(photo), :class => "btn btn-sm btn-warning" do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to photo, :method => "delete", :data => { :confirm => "Are you sure you want to delete this photo?" }, :class => "btn btn-sm btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
